body{
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
}

/*flex box for main*/

main{
    display: flex;
}




/*design side*/

.design{
    margin-right: 30px;
    background-image: url('../images/Group\ 4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
    max-width: 540px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.design h1{
    font-weight: 600;
    font-size: 3.375rem;
    z-index: 1;
    margin-left:20px
}

.design h4{
    font-weight: 400;
    font-size: 1.625rem;
    text-align: left;
    margin: 0 0 0 20px;
}


/*Content*/

.content{
    z-index: 1;
}

.content a {
    font-weight: 700;
    font-size: 24px;
}

h2{
    font-weight: 700;
    font-size: 44px;
}

label{
    font-size: 24px;
    font-weight: 600;
    display: block;
   
}

input{
    width: 394px;
    height: 63px;
    border-radius: 11.71px;
    border: solid 1.55px #cfcfcf;
    margin-bottom: 30px;
}



input#subscribe, input#agree{
    width: 34.94px;
    height: 34.94px;
    margin-bottom: 25px;
}

.side1{
    margin-right: 10px;
}

.box{
    display: flex;
}

.checkbox label{
    display: inline-block;
    margin: 0;
}

.button{
   width: 100%;
}

input#submit{
    width: 507.86px;
    height: 72.22px;
    background-color: #7271bd;
    color: white;
    font-weight: 600;
    font-size: 27.96px;
    margin: 50px auto 0 auto;
    display: block;
}

p{
    margin-left: 20%;
    font-size: 20.19px;
    font-weight: 600;
}

a {
    text-decoration: none;
}