<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education/Resources</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/resources.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'arvo': ['Arvo', 'serif'],
                    'open-sans': ['Open Sans', 'sans-serif']
                }
            }
        }
    </script>
</head>
<body class="font-open-sans">
    <header class="flex justify-around py-8 font-light">
        <h2 class="text-[#4B49AF] font-arvo text-3xl">MatchMediation.</h2>
        <nav class="flex gap-20 text-2xl">
            <a href="/home">Home</a>
            <a href="/supervisors">Find Supervisors</a>
            <a href="#" class="font-semibold text-[#7271BD]">Resources</a>
            <a href="/messages">Messages</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>
    <main>
        <div class="top">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="back"><a href="resources.html"> &lt Back</a></div>
            <div class="title">
                <h3>Education/Resources</h3>
            </div>
            <div class="search">
                <form action="">
                  <div class="input">
                      <input type="search" name="search" id="search" placeholder="Search">
                    </div>
                <div class="select">
                  <select>
                      <option value="date-posted" disabled selected hidden>Latest First</option>
                  </select>
                  <select name="type" id="type">
                      <option value="post-type" disabled selected hidden>Post Type</option>
                  </select>
                  <select name="audience" id="audience">
                      <option value="audience" disabled selected hidden>Audience</option>
                  </select>
                </div><!--select-->
                </form>
            </div>

        </div>

        <div class="bottom" id="education">
            <div id="resource-1">
                <div class="post-identifier">
                    <p class="post-type">Advice</p>
                    <p class="audience-type">For Parents</p>
                </div>
                <div class="pic">
                    <img src="../static/images/Untitled-Artwork.PNG" alt="profile-pic" srcset="">
                </div>
                <h4 class="h4">Do's and Dont's of Parenting</h4>
                <h5 class="h5">Anne Chen</h5>
                <p>We all have those moments where we get lost on how to take care of our children...</p>
            </div>

            <div id="resource-2">
                <div class="post-identifier">
                    <p class="post-type">Advice</p>
                    <p class="audience-type">For Supervisors</p>
                </div>
                <div class="pic">
                    <img src="../static/images/Untitled-Artwork.PNG" alt="profile-pic" srcset="">
                </div>
                <div class="article">
                <h4 class="h4">How to Provide a Positive atmosphere for Parents and Children</h4>
                <h5 class="h5">Derek Willis</h5>
                </div>
                <p>Being a long-time supervisor, I complied a list of ways other supervisor can help...</p>
                
            </div>

        </div>
    </main>
    
</body>
</html>
    
</body>
</html>