<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <h2 class="text-[#4B49AF] font-serif text-3xl">MatchMediation.</h2>
        <nav class="text-2xl">
            <a href="#">Home</a>
            <a href="/supervisors">Find Supervisors</a>
            <a href="/resources">Resources</a>
            <a href="/messages">Messages</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Connecting Chicago families</h1>
            <p>MatchMediation is committed to helping Chicago families with child custody by pairing them up with third party supervisors who assist in providing a positive environment for supervised visits.</p>
            <button>Find a supervisor</button>
        </section>
        <section>
            <img/>
        </section>
    </main>
    <section>
        <h2>Did you know?</h2>
        <ul>
            <li>Almost 50 percent of all marriages in the United States will end in divorce or separation.</li>
            <li>90% of parents settle child custody cases without a judge's ruling, while 4% of child custody cases require going to jail</li>
            <li>Supervised visitation is aimed towards protecting the safety of children while also allowing parents to maintain contact with their children</li>
        </ul>
        <button>Learn More</button>
    </section>
    <section>
        <h2>How we help</h2>
        <p>MatchMediation helps families experiencing child custody conflicts connect and pair with third party supervisors who help supervise visitations between parents and their children in order to create a positive, healthy environment.</p>
        <img/>
    </section>
</body>
</html>