<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education/Resources</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/resources.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'arvo': ['Arvo', 'serif'],
                    'open-sans': ['Open Sans', 'sans-serif']
                }
            }
        }
    </script>
</head>
<body class="font-open-sans">
    <header class="flex justify-around py-8 font-light">
        <h2 class="text-[#4B49AF] font-arvo text-3xl">MatchMediation.</h2>
        <nav class="flex gap-20 text-2xl">
            <a href="/home">Home</a>
            <a href="/supervisors">Find Supervisors</a>
            <a href="#" class="font-semibold text-[#7271BD]">Resources</a>
            <a href="/messages">Messages</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>
    <main>
        <div class="top">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="back"><a href="resources"> &lt Back</a></div>
            <div class="title">
                <h3>Illinois Child Custody Laws</h3>
            </div>
            <div class="search">
                <form action="">
                  <div class="input">
                      <input type="search" name="search" id="search" placeholder="Search">
                    </div>
                <div class="select">
                  <select>
                      <option value="date-posted" disabled selected hidden>Latest First</option>
                  </select>
                  <select name="type" id="type">
                      <option value="post-type" disabled selected hidden>Post Type</option>
                  </select>
                  <select name="audience" id="audience">
                      <option value="audience" disabled selected hidden>Audience</option>
                  </select>
                </div><!--select-->
                </form>
            </div>

        </div>

        <div class="bottom" id="education">
            <div id="resource-1" class="laws">
                <h4 class="h4">Illinois Child Custody Laws</h4>
                <p class="date">30 Nov 2021</p>
                <h5 class="h5">Findlaw.com</h5>
                <p class="p">Illinois child custody laws allows parents and guardians the option of joint custody and recoginze...</p>
            </div>

            <div id="resource-2" class="laws">
                <h4 class="h4">Illinois Child Custody Laws 2022</h4>
                <h5 class="h5">Streling Hughes LLC.</h5>
                <p class="p">When married couple divorce, Illinois law helps parents divide legal custody and physical custody...</p>

            </div>

        </div>
    </main>

</body>
</html>

</body>
</html>
