<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <div class=" circle circle-1"></div>
        <div class=" circle circle-2"></div>
    <header>
        <h3>MatchMediation.</h3>
    </header>
    <main>
      <div class="flex">
        <h2>I am a...</h2>
        <div class="button"><a href="parent">Parent</a></div>
        <div class="button"><a  href="">Supervisor</a></div>
        <div><p>Already have an account? <a href="/login">Log in</a></p></div>
      </div> <!--flex-->

    </main>

</body>
</html>
