<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Supervisors</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
      tailwind.config = {
          theme: {
              fontFamily: {
                  'arvo': ['Arvo', 'serif'],
                  'open-sans': ['Open Sans', 'sans-serif']
              }
          }
      }
  </script>
</head>
<body class="font-open-sans">
    <header class="flex justify-around py-8 font-light">
        <h2 class="text-[#4B49AF] font-arvo text-3xl">MatchMediation.</h2>
        <nav class="flex gap-20 text-2xl">
            <a href="#" class="font-semibold text-[#7271BD]">Home</a>
            <a href="/supervisors">Find Supervisors</a>
            <a href="/resources">Resources</a>
            <a href="/messages">Messages</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>
    <section>
        <h1>Let us help you find a supervisor!</h1>
        <input>
        <select></select>
        <select></select>
        <select></select>
    </section>

    <!-- SUPERVISORS -->

    <section>
        
    </section>
</body>
</html>